---
title: Formulier
preloader: false
layout: default.hbs
---


<header class="header" role="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="#"><img src="assets/img/logo-placeholder.png" class="logo img-responsive" alt="Company Name goes here"></a>
			</div>
		</div>
	</div>
</header>

<main class="main" role="main">

	<div class="container m-t-30">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
			<div class="alert alert-success" role="alert"><strong>Well done!</strong> You successfully read this important alert message.</div>
				<form class="form-horizontal">
					<fieldset>

						<!-- Form Name -->
						<legend>Formulier elementen</legend>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="a">Text input</label>  
							<div class="col-md-4">
								<input id="a" name="" type="text" placeholder="" class="form-control input-md" required="">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="b">Text input</label>  
							<div class="col-md-4">
								<input id="b" name="" type="text" placeholder="" class="form-control input-md" required="">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="c">Text input</label>  
							<div class="col-md-4">
								<input id="c" name="" type="text" placeholder="" class="form-control input-md" required="">
							</div>
						</div>

						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="d">Select</label>
							<div class="col-md-4">
								<select id="d" name="" class="form-control">
									<option value="1">Option</option>
									<option value="2">Option</option>
									<option value="3">Option</option>
									<option value="4">Option</option>
								</select>
							</div>
						</div>

						<!-- Multiple Radios -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="radio-1">Radio buttons</label>
							<div class="col-md-4">
								<div class="radio">
									<label for="airboatsize-0">
										<input type="radio" name="airboatsize" id="radio-1" value="1" checked="checked">
										Small
									</label>
								</div>
								<div class="radio">
									<label for="radio-2">
										<input type="radio" name="airboatsize" id="radio-2" value="2">
										Large
									</label>
								</div>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="e">Text input</label>  
							<div class="col-md-4">
								<input id="e" name="" type="text" placeholder="" class="form-control input-md" required="">
							</div>
						</div>


						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="f">Text input</label>  
							<div class="col-md-4">
								<input id="f" name="" type="text" placeholder="" class="form-control input-md" required="">
							</div>
						</div>

						<!-- Textarea input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="f">Textarea</label>  
							<div class="col-md-4">
								<textarea class="form-control" rows="3"></textarea>
							</div>
						</div>

						<!-- Multiple Checkboxes (inline) -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="check-1">Checkbox</label>
							<div class="col-md-4">
								<label class="checkbox-inline" for="check-1">
									<input type="checkbox" name="" id="check-1" value="1">
									Yes
								</label>
								<label class="checkbox-inline" for="check-2">
									<input type="checkbox" name="" id="check-2" value="1">
									No
								</label>
								<label class="checkbox-inline" for="check-3">
									<input type="checkbox" name="" id="check-3" value="1">
									Don't know
								</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-4 col-sm-8">
								<button type="submit" class="btn btn-primary">Opslaan</button>
							</div>
						</div>

					</fieldset>
				</form>

			</main>