.button{
	border-color: $button-border-color;
	border-width: 2px;
	border-style: solid;
	background: $button-bg-color;
	font-family: $primary-font;
	padding: $button-padding;
	color: $button-color;
	display: inline-block;
	font-weight: 700;
	font-size: $button-fontsize;
	text-transform: $button-style;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	margin-bottom: 7px;
	cursor: pointer;

	&:focus{
		outline: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}

	

	&:hover{
		background: $button-bg-hover-color;
		border-color: $button-border-hover-color;
		color: $button-color-hover;
	}

	&-mobile-block{
		@media all and (max-width: $breakpoint-mobile){
			width: 100%;
		}
	}

	&-inline{
		margin: 0 5px 10px;
	}

	&-small{
		font-size: 14px;
		padding: 10px;

		@media all and (max-width: $breakpoint-mobile){
			font-size: 11px;
		}
	}

	&-rounded{
		-webkit-border-radius: 32px;
		-moz-border-radius: 32px;
		border-radius: 32px;
	}

	&-outline{
		background: transparent;
		color: $button-bg-color;
		&:hover{
			background: transparent;
			color: $button-bg-color;
			border-color: $button-border-color;
		}
	}

	&-next{
		margin-top: 15px;

		& i{
			font-weight: normal;
			font-size: 14px;
		}
	}

	&-block{
		width: 100%;
		margin-bottom: 7px;
	}
}

.answer-selected, .answer-selected:hover, .answer-selected:focus{
	background: $ok-color;
	color: #fff;
	border-color: $ok-color;
}

.emoticon{
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	cursor: pointer;

	&:hover{
		opacity: 0.8;
	}

	&:focus{
		outline: none !important;
		border: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}

	& img{
		width: $emoticon-size;

		@media all and (max-width: $breakpoint-mobile){
			width: 40px;
		}
	}

	&-selected:after{
		content: "\f00c";
		font-family: "FontAwesome";
		color: $heading-color;
		font-size: 26px;
		font-weight: normal;
		line-height: 22px;
		letter-spacing: 0;
		margin: 0;
		width: 22px;
		height: 22px;
		position: absolute;
		bottom: -25px;
		left:50%;
		-ms-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
}

.prev-btn{
	position: fixed;
	display: none;
	padding: 0;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	bottom: 10px;
	left: 10px;
	z-index: 10;
	border: 1px solid #ccc;
	background: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 25px;

	&:before{
		content: "\f060";
		font-family: "FontAwesome";
	}
}

.home-btn{
	position: fixed;
	display: none;
	padding: 0;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	bottom: 10px;
	right: 10px;
	z-index: 10;
	border: 1px solid #ccc;
	background: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 25px;

	&:before{
		content: "\f015";
		font-family: "FontAwesome";
	}
}



.user{
	background: none;
	border: none;
	display: block;
	font-size: 18px;
	margin-bottom: 15px;
	text-align: left;
	font-family: $primary-font;
	color: $button-bg-color;
	line-height: 1;
	white-space: nowrap;
	padding: 0;

	& img{
		display: inline-block;
		margin-right: 15px;
		width: 50px;
		height: 50px;
		-webkit-border-radius: 50%;
		-moz-border-radius:50%;
		border-radius: 50%;
		overflow: hidden;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow:    0 1px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	}

	&:hover{
		color: $button-bg-hover-color;
		text-decoration: none;
	}
}