@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,700);
@import url(bootstrap.css);
@import url(owl.carousel.css);
@import url(owl.theme.css);
html, body {
  -webkit-overflow-scrolling: touch;
  /* lets it scroll lazy */
  height: 100%;
  background: #fff; }

.test {
  background: red; }

.header {
  background: #fff;
  height: 90px; }
  .header .logo {
    max-height: 90px;
    display: inline-block;
    padding: 20px 0; }

.main {
  height: calc(100% - 90px);
  background: #fff;
  min-height: 500px;
  position: relative; }

.centered {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.rate {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0; }
  .rate li {
    display: inline-block;
    font-size: 0px;
    margin: 0px 5px;
    position: relative; }

.questionNumber {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.slide-wrapper {
  position: relative;
  min-height: 500px; }
  @media all and (max-width: 767px) {
    .slide-wrapper {
      min-height: 350px; } }
.slide-question {
  padding: 30px 0; }
.slide-rating {
  position: absolute;
  left: 0px;
  width: 100%;
  right: 0px;
  bottom: 0%;
  padding-bottom: 30px; }

.m-t-30 {
  margin-top: 30px !important; }

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  cursor: default;
  background: #fff;
  color: #616161;
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #212121; }

::selection {
  color: #fff;
  background: #212121; }

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

a:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.h1 {
  color: #212121;
  font-family: "Roboto Slab", serif;
  margin: 0 0 50px;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3; }
  @media all and (max-width: 767px) {
    .h1 {
      font-size: 24px; } }

.h2 {
  color: #212121;
  font-family: "Roboto Slab", serif;
  margin: 0 0 30px;
  padding: 0;
  font-size: 33px;
  font-weight: 400;
  line-height: 1.3; }
  .h2 small {
    display: block;
    color: #616161;
    font-size: 50%;
    margin: 15px 0 0;
    line-height: 1.3;
    text-transform: uppercase; }
    @media all and (max-width: 767px) {
      .h2 small {
        font-size: 11px; } }
  @media all and (max-width: 767px) {
    .h2 {
      font-size: 24px; } }

.textarea {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #616161; }

.button {
  border-color: #212121;
  border-width: 2px;
  border-style: solid;
  background: #212121;
  font-family: "Roboto", sans-serif;
  padding: 15px 35px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  .button:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  .button:hover {
    background: #cc071e;
    border-color: #cc071e;
    color: #fff; }
  @media all and (max-width: 767px) {
    .button-mobile-block {
      width: 100%; } }
  .button-inline {
    margin: 0 5px 10px; }
  .button-small {
    font-size: 14px;
    padding: 10px; }
    @media all and (max-width: 767px) {
      .button-small {
        font-size: 11px; } }
  .button-rounded {
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px; }
  .button-outline {
    background: transparent;
    color: #212121; }
    .button-outline:hover {
      background: transparent;
      color: #212121;
      border-color: #212121; }
  .button-next {
    margin-top: 15px; }
    .button-next i {
      font-weight: normal;
      font-size: 14px; }
  .button-block {
    width: 100%;
    margin-bottom: 7px; }

.answer-selected, .answer-selected:hover, .answer-selected:focus {
  background: #27ae60;
  color: #fff;
  border-color: #27ae60; }

.emoticon {
  border: none;
  background: none;
  margin: 0;
  padding: 0; }
  .emoticon:hover {
    opacity: 0.8; }
  .emoticon:focus {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  .emoticon img {
    width: 80px; }
    @media all and (max-width: 767px) {
      .emoticon img {
        width: 40px; } }
  .emoticon-selected:after {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #212121;
    font-size: 26px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0;
    margin: 0;
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.prev-btn {
  position: fixed;
  display: none;
  padding: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  border: 1px solid #ccc;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 25px; }
  .prev-btn:before {
    content: "\f060";
    font-family: "FontAwesome"; }

/*# sourceMappingURL=styles.css.map */
