body, html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	cursor: default;
	background: #fff;
	color: $text-color;
	font-family: $primary-font;
	font-weight: normal;
	// font-size: 25px;
	// line-height: 2;
}

::-moz-selection { /* Code for Firefox */
	color: #fff;
	background: $heading-color;
}

::selection {
	color: #fff;
	background: $heading-color;
}

a{
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	outline: none !important;
}

a:focus, button:focus, input:focus {
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.h1{
	color: $heading-color;
	font-family: $secondary-font;
	margin: 0 0 30px;
	padding: 0;
	font-size: $h1-size;
	font-weight: 400;
	line-height: 1.3;

	@media all and (max-width: $breakpoint-mobile){
		font-size: $h1-size-mobile;
	}
}

.h2{
	color: $heading-color;
	font-family: $secondary-font;
	margin: 0 0 30px;
	padding: 0;
	font-size: $h2-size;
	font-weight: 400;
	line-height: 1.3;

	& small{
		display: block;
		color: $text-color;
		font-size: 50%;
		margin: 15px 0 0;
		line-height: 1.3;
		text-transform: uppercase;
		@media all and (max-width: $breakpoint-mobile){
			font-size: 11px;

		}
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: $h2-size-mobile;

	}
}

.textarea{
	font-family: $secondary-font;
	font-size: 20px;
	color: $text-color;
}

.control-label{
	color: #000;
}

.searchForm{
	&-group{
		position: relative;
		margin-bottom: 60px;
		// background: red;
	}
	&-field{
		background: rgba(0,0,0,.2);
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		color: #000;
		border: 0;
		padding: 0 30px;
		height: 70px;
		font-size: 18px;
		width: 100%;
		position: relative;
		z-index: 1;
		cursor: default;
		// font-weight: bold;
		// -webkit-appearance: searchfield;
		// -moz-appearance:    searchfield;
		// appearance:         searchfield;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $text-color;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: $text-color;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: $text-color;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: $text-color;
		}
	}
	&-button{
		position: absolute;
		right: 7px;
		top: 7px;
		z-index: 5;
		width: 56px;
		height: 56px;
		border: none;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		background: #fff;
		text-alihn: center;
		line-height: 52px;
		padding: pc !important;
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;

		color: $button-bg-hover-color;
		font-size: 25px;
		-webkit-transition: all 0.2s ease-in-out 0s;
		-moz-transition: all 0.2s ease-in-out 0s;
		-o-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
		
		&:hover{
			background: $button-bg-hover-color;
			color: #fff;
		}

		& i{
			margin: 0;
			position: absolute;
			left: 50%;
			top: 50%;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
}