body, html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	cursor: default;
	background: #fff;
	color: $text-color;
	font-family: $primary-font;
	font-weight: normal;
	// font-size: 25px;
	// line-height: 2;
}

::-moz-selection { /* Code for Firefox */
	color: #fff;
	background: $heading-color;
}

::selection {
	color: #fff;
	background: $heading-color;
}

a{
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

a:focus {
outline: 0;
}

.h1{
	color: $heading-color;
	font-family: $secondary-font;
	margin: 0 0 50px;
	padding: 0;
	font-size: $h1-size;
	font-weight: 400;
	line-height: 1.3;

	@media all and (max-width: $breakpoint-mobile){
		font-size: $h1-size-mobile;
	}
}

.h2{
	color: $heading-color;
	font-family: $secondary-font;
	margin: 0 0 30px;
	padding: 0;
	font-size: $h2-size;
	font-weight: 400;
	line-height: 1.3;

	& small{
		display: block;
		color: $text-color;
		font-size: 50%;
		margin: 15px 0 0;
		line-height: 1.3;
		text-transform: uppercase;
		@media all and (max-width: $breakpoint-mobile){
			font-size: 11px;

		}
	}

	@media all and (max-width: $breakpoint-mobile){
		font-size: $h1-size-mobile;

	}
}

.textarea{
	font-family: $secondary-font;
	font-size: 20px;
	color: $text-color;
}