$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif; //'Roboto Slab', serif;

$header-height: 110px;
$header-bg-color: #fff;
$header-padding: 20px 0;

$main-bg-color: #fff;

$button-border-color: #212121;
$button-bg-color: #212121;
$button-padding: 15px 35px;
$button-color: #fff;
$button-fontsize: 16px;
$button-style: uppercase;

$button-bg-hover-color: #e1001a;
$button-border-hover-color: #e1001a;
$button-color-hover: #fff;

$emoticon-size: 80px;

// TEXT

$heading-color: #212121;
$text-color: #616161;

$h1-size: 45px;
$h1-size-mobile: 24px;

$h2-size: 30px;





